<div id="poczatek">
  <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="filter">
  <br>
</div>

<pagination-controls class="myPagination" (pageChange)="page = $event "></pagination-controls>

<div class="container" >
  <div class="row" id="myTable" >
    <div class="column"
         *ngFor="let book of books$  | filter:filter | paginate: {itemsPerPage: 12, currentPage: page }" >
      <a routerLink="product/{{book.id}}" class="custom-card">
        <div class="card">
          <img  *ngIf="book.url === null; else URL" src= "https://previews.123rf.com/images/yupiramos/yupiramos1502/yupiramos150209997/37016834-ebook-icon-design-vector-illustration-eps10-graphic.jpg" alt="Denim Jeans" style="width:100%">
          <ng-template #URL>
            <img  *ngIf="book.url2 === null; else noURL" src= "{{book.url}}" alt="Denim Jeans" style="width:100%">
          </ng-template>
          <ng-template #noURL>
            <img   src= "{{book.url}},{{book.url2}}" alt="Denim Jeans" style="width:100%">
          </ng-template>
          <h4>{{book.tytul}}</h4>
          <p class="price">{{book.cena}} PLN</p>
          <p>{{book.autor}}</p>
          <p><button>Add to Cart</button></p>

        </div>
      </a>
    </div>
  </div>
</div><br/>
<pagination-controls  class="myPagination" (pageChange)="onPageChange($event)" ></pagination-controls>
<br/>
